html, body {
    background: #111;
}
#container {
    background: #111;
    position: absolute;
    left: 50%;
    top: 50%;
}
#container {
    background: #111;
    position: absolute;
    left: 50%;
    top: 50%;
}
